body{
    background-color: #2f2f2f;
    color:darkgoldenrod;
    font-family:'Comic Sans MS'
}
#main{
    text-align:center;
}
#game{
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    justify-content: center;
}
#wynik{
    clear:both;
    height: 100%;
    margin-top:5px;
    font-size:300%;
}
.blok{
    cursor:pointer;
    font-size:500%;
}
#b00{
    border-right: 2.5px solid black;
    border-bottom: 2.5px solid black;
}
#b10{
    border-top:2.5px solid black;
    border-right:2.5px solid black;
    border-bottom:2.5px solid black;
}
#b20{
    border-top:2.5px solid black;
    border-right: 2.5px solid black;
}
#b01{
    border-left:2.5px solid black;
    border-bottom:2.5px solid black;
    border-right: 2.5px solid black;
}
#b02{
    border-left:2.5px solid black;
    border-bottom:2.5px solid black;
}

#b11{
    border:2.5px solid black;
}
#b12{
    border-top:2.5px solid black;
    border-bottom: 2.5px solid black;
    border-left: 2.5px solid black;
}

#b21{
    border-top:2.5px solid black;
    border-right:2.5px solid black;
    border-left: 2.5px solid black;
}
#b22{
    border-top:2.5px solid black;
    border-left: 2.5px solid black;
}
.blok.daectiv{
    cursor:default;
}
.reset{
    cursor: pointer;
    text-align: center;
}